PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bookmark_manager?schema=public"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bookmark_manager_test?schema=public"


